.App {
  /* padding-top: 36px; */
  text-align: center;
}

.SearchForm-wrapper {
  display: flex;
  justify-content: center;
}

.MovieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px auto;
  padding: 16px;
  width: 80%;
}

.MovieList-item {
  /* border: 1px solid #265ACC; */
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 24px;
  width: 280px;
}

.detail-movie {
  margin: 0 auto;
  width: 80%;
}

.back-container {
  text-align: left;
}

.movie-info {
  display: flex;
  min-height: 200px;
  max-width: 1800px;
  width: 90%;
  margin: 30px auto;
}

.info-panel-izq {
  background: blanchedalmond;
  display: flex;
  justify-content: center;
  min-height: 200px;
  max-width: 900px;
  width: 50%;
}

div.info-panel-izq > figure {
  background: red;
  display: flex;
  max-width: 600px;
  width: 80%; 
}

.info-panel-izq > figure > img {
  align-self: center;
  max-height: 500px;
  width: 100%;
}

.info-panel-der {
  background: aquamarine;
  min-height: 200px;
  max-width: 900px;
  width: 50%;
}

form {
  margin: 30px auto;
  width: 70%;
}
